@font-face {
    font-family: 'soft_marshmallowregular';
    src: url('soft_marshmallow-webfont.woff2') format('woff2'),
         url('soft_marshmallow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: soft_marshmallowregular;
}

h1{
    text-align: center;
    font-size: 250%;
}

h2{
    text-align: center;
    font-size: 150%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}